WCF.WindowsForms/Connected Services/ServiceReference/WcfService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11825/WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.DTO" />
  <xs:element name="GetClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetClientsResult" nillable="true" type="q1:ArrayOfClientDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetByClientResult" nillable="true" type="q2:CartDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoods">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetGoodsResult" nillable="true" type="q3:ArrayOfGoodsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetOrdersGroupResult" nillable="true" type="q4:ArrayOfOrderItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalHits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalHitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="TotalHitsResult" nillable="true" type="q5:ResponseHitsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>