WCF.WindowsForms/Connected Services/ServiceReference/WcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WCF.Service/Service/WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.DTO" />
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetCustomersResult" nillable="true" type="q1:ArrayOfCustomerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoods">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetGoodsResult" nillable="true" type="q2:ArrayOfGoodsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowRequestCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="count" nillable="true" type="q3:RequestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>